# dependencies
node_modules/

# build output
dist/
build/

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# runtime
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/dev.db
prisma/migrations/dev.db-journal
*.db
*.db-journal

# Docker
docker-compose.override.yml
*.local.yml

# optional docker volumes (if you mount local DB/cache)
docker-data/
data/
/generated/prisma
